.header {
    background-image: url(../image/bg\ image\ 1.jpg);
    width: 100%;
    height: 1500px;
}

.menu {
    list-style: none; /*убираем маркеры списка*/
  }
  a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:#30A8E6; /*добавляем фон к пункту меню*/
    color:#fff; /*меняем цвет ссылок*/
    padding:10px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    border-radius:4px; /*добавляем скругление*/
  }
  a:hover {
    background:#1C85BB;/*добавляем эффект при наведении*/
  }
  li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    margin-right:50px; /*Добавляем отступ у пунктов меню*/
    
  }
