@media screen and (max-width: 1200px) {

    .box {
        margin: 1px;
    }

    .container {
        &__logo {
            margin-right: 50px;
        }
    }

    .content {

        &__section {
            margin-left: 238px;
        }
    }
}
    
