@media screen and (max-width: 1110px) {
    
    .header {
        max-width: 768px;

        &__countainer {
            max-width: 768px;
        }
    }
    .section {
        margin-left: 85px;
        max-width: 768px;

        &__cart {
            margin-right: 151px;
        }

        &__cart.two {
            margin-right: 127px;
        }

        &__wrap {
            margin-right: 61px;
        }
       

        &__title {
            margin-left: 72px;
        }

        &__text {
            margin-left: 34px;
        }
    }

    .block {
        &__button {
            width: 406px;
            height: 84px;
        }
        &__text {
            font-size: 25px;
        }
    }

    .box {
        margin-left: 120px;
        max-width: 768px;
    }

    .wrapper {
        max-width: 768px;
    }

    .wrap {
        max-width: 768px;

        &__userpic {
            display: none;
        }
    }
    .page {
        margin-left: 100px;
        max-width: 768px;
    }
}

    