@font-face {
    font-family: 'Reey';
    src: url('../Font/subset-Reey-Regular.eot');
    src: url('../Font/subset-Reey-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Font/subset-Reey-Regular.woff2') format('woff2'),
        url('../Font/subset-Reey-Regular.woff') format('woff'),
        url('../Font/subset-Reey-Regular.ttf') format('truetype'),
        url('../Font/subset-Reey-Regular.svg#Reey-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}