@media screen and (width: 414px) {

    .box-input {
        max-width: 340px;
        position: absolute;
        top: 550px;
        left: 34px;
        margin-right: 0px;
        padding-right: 0px;
    }
    
}